/* survey.css */

/* Общие стили для body */
body {
    font-family: Arial, sans-serif;
    background-color: #8BC34A; /* Зеленый фон */
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Контейнер */
.container {
    width: 100%;
    max-width: 900px;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px; /* Более округленные углы */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Заголовок */
h1 {
    color: #000000; /* Яркий зеленый */
    font-size: 26px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

/* Стили для сетки */
.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Отступы между элементами */
    justify-content: center;
}

.col-md-4 {
    flex: 1 0 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.w-100 {
    width: 100%;
}

/* Стили для кнопок */
button {
    border: 3px solid transparent; /* Добавляем рамку для выделения */
    padding: 15px 20px; /* Увеличиваем отступы */
    font-size: 18px; /* Увеличиваем размер текста */
    font-weight: bold;
    border-radius: 25px; /* Сильно закругляем углы */
    cursor: pointer;
    transition: all 0.3s ease;
    color: #fff;
}

.btn-primary {
    background-color: #6A0DAD; /* Фиолетовый цвет */
    color: #fff;
}

.btn-primary:hover {
    background-color: #8c30d4; /* Темно-фиолетовый при наведении */
    transform: scale(1.1); /* Увеличение при наведении */
}

.btn-primary.selected {
    border: 3px solid #00D1FF; /* Голубая рамка */
    box-shadow: 0 0 10px #00D1FF;
}



/* Стили для изображений */
.selectable-img {
    width: 100%;
    max-width: 350px; /* Увеличенный размер изображений */
    border: 3px solid transparent;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.selectable-img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.selectable-img.selected {
    border: 3px solid #00D1FF;
    box-shadow: 0 0 10px #00D1FF;
    transform: scale(1.1);
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
}

.justify-end {
    justify-content: flex-end;
}

.mt-8 {
    margin-top: 2rem; /* 2rem = 32px */
}

/* Уменьшенные стили для кнопки "Далее" */
button.next-btn {
    background-color: #00D1FF;
    color: #fff;
    font-size: 22px;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button.next-btn:hover {
    background-color: #00A1CC;
    transform: scale(1.1);
}