/* Основные стили */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fff;
    color: #333;
    overflow-x: hidden; /* Убираем горизонтальный скролл */
}

/* Состояние при наведении */
.btn-purple:hover {
    background-color: #8c30d4; /* Более темный фиолетовый */
    transform: scale(1.1);
}

/* Состояние при выборе */
.btn-purple.selected {
    /*border: 3px solid #00D1FF;*/
    outline: 3px solid #00D1FF; /* Внешняя рамка, не меняет размеры */
    box-shadow: 0 0 10px #00D1FF;
    /*transform: scale(1.1);*/
}

/* Убираем эффект белого фона при клике */
.btn-purple:active,
.btn-purple:focus {
    background-color: #6A0DAD !important; /* Цвет фона остаётся таким же */
}

/* Стили для обычных кнопок */
.btn-purple {
    background-color: #6A0DAD; /* Фиолетовый фон */
    color: #fff; /* Белый текст */
    font-size: 18px;
    border-radius: 25px;
    padding: 10px 20px;
    transition: all 0.3s ease;
}

/* Контейнер для логотипа и кнопок */
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Убираем отступы у основного контейнера */
main.container {
    padding: 0;
    margin: 0;
    max-width: 100%;
    box-sizing: border-box;
}