{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    
    {% block title %}
		
	{% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Атлас - Путешествия</title>
    <link rel="icon" href="{% static 'deps/images/icon_32.png' %}" sizes="32x32"
	      type="image/png">
    <!-- Bootstrap CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css"
          rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.1/font/bootstrap-icons.min.css"
          rel="stylesheet">
    <!-- Custom CSS -->
    {% block css %}

    {% endblock %}
    <link rel="stylesheet" href="{% static "deps/css/style.css" %}">
    <link rel="stylesheet" href="{% static "deps/css/main/nav-bar.css" %}">

</head>
<body>

<!-- Header with Logo -->
<nav class="navbar navbar-expand-md navbar-light bg-green">
    <div class="container">
        <!-- Логотип -->
        <a href="/" class="logo-link d-flex align-items-center">
            <img src="{% static 'deps/images/icon/left icon.jpg' %}" alt="Atlas Logo" class="logo">
        </a>
        <!-- Кнопка-гамбургер -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarMenu"
                aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Основное меню -->
        <div class="collapse navbar-collapse" id="navbarMenu">
            <div class="navbar-nav ms-auto">
                <a href="#" class="nav-item nav-link">
                    <i class="bi bi-person"></i> АККАУНТ
                </a>
                <a href="#" class="nav-item nav-link">
                    <i class="bi bi-suitcase"></i> ЧЕМОДАН
                </a>
                <a href="#" class="nav-item nav-link">
                    <i class="bi bi-geo-alt"></i> МОСКВА
                </a>
                <a href="#" class="nav-item nav-link">
                    <i class="bi bi-question-circle"></i> ПОМОЩЬ
                </a>
            </div>
        </div>
    </div>
</nav>

{% block content %}

{% endblock %}
<!-- Bootstrap Bundle with Popper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
</body>


{% block footer %}

{% endblock %}
</html>