<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Опрос</title>
</head>
<body>
<div class="container my-5">
    <h1 class="mb-4">Выберите наиболее интересные категории мест или активностей</h1>
    <div class="row g-3">
        <div class="col-md-4">
            <button class="btn btn-primary w-100">Бары</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary w-100">Музыка</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary w-100">Шопинг</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary w-100">Экстрим</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary w-100">Достопримечательности</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary w-100">Искусство</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary w-100">Музеи</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary w-100">Гулять</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary w-100">Инстаграмные места</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary w-100">Экскурсии</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary w-100">Вкусно поесть</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary w-100">Далее</button>
        </div>
    </div>
</div>
</body>
</html>